{% extends 'base.html' %}
{% load static %}


{% block title %} Home {% endblock title %}


{% block style %}
<link rel="shortcut icon" href=" {% static 'components/img/linkedin-cust.svg' %} " type="image/x-icon">
<link rel="stylesheet" href=" {% static 'components/css/style.css' %}" />
<link rel="stylesheet" href=" {% static 'home/css/style.css' %} " />
{% endblock style %}

{% block navbar %} {% include 'components/navbar2.html' %} {% endblock navbar %}

{% block content %}
<main class="main-home">
  <div>
    {% if user.is_authenticated %}
    <h2>Salut {{ user.first_name }} 👋 </h2>
    <br>
    <h2>On est content de te revoir aujourd'hui !</h2>
    {% else %}
    <h2>Vous n'êtes pas connecter</h2>
    {% endif %}
    <aside>
      <form class="form-comment">
        <!-- <img src="{% static 'components/img/user.svg' %}" alt=""> -->
        <textarea name="" id="" cols="30" rows="10"></textarea>
        <button></button>
      </form>
      <div class="container-comment-list">
        <div class="container-comment-list-content">
          <p>bla bla bla</p>
          <small>17th mars 2022 20:28</small>
        </div>
      </div>
      <div class="container-comment-like">
        <!-- <img src="{% static 'post/img/user.svg' %}" alt=""> -->
      </div>
  </div>
  </aside>

  </div>
</main>
{% endblock content %}

{% block footer %} {% include 'components/footer.html' %} {% endblock footer %}

{% block js %}
<script type="text/javascript" src=" {% static 'components/js/index.js' %} "></script>
{% endblock js %}