{% load static %}



<div class="to-invites-container">
  {% for obj in qs %}

  {% if obj.user not in list_relation_receiver and obj.user not in list_relation_sender %}
  <!-- les utilisateurs pas de relation et pas reçu d'invitation et pas envoyer une invitation -->
  <div class="container-list-to-invites-profiles">
    <!-- img bg -->
    <div class="to-invites-box-img-bg">
      <img src="{{obj.img_bg.url}}">
    </div>

    <!-- img profile -->
    <a href="{% url 'profile' pseudo=obj.pseudo %}">
      <img src="{{obj.img_profile.url}}" class="to-invites-img-profile">
    </a>

    <div class="to-invites-box-title">
      <a href="{% url 'profile' pseudo=obj.pseudo %}">
        <strong>{{obj.user.first_name}} {{obj.user.last_name}}</strong>
        <p>{{obj.bio}}</p>
      </a>
    </div>

    <form action="" method="post" class="to-invites-add-friends">
      {% csrf_token %}
      <input type="hidden" name="add_friends" value="{{obj.id}}">
      <button class="btn-add-friends" type="submit">Se connecter</button>
    </form>
  </div>
  {% endif %}
  {% endfor %}
</div>