{% load static %}


<div class="my-friends-container">
  {% for obj in qs %}

  {% if request.user in obj.friends.all %}
  <!-- les utilisateurs pas de relation et pas reçu d'invitation et pas envoyer une invitation -->
  <div class="container-list-my-friends-profiles">
    <!-- img bg -->
    <!-- <div class="my-friends-box-img-bg">
      <img src="{{obj.img_bg.url}}">
    </div> -->

    <div class="my-friends-info">
      <!-- img profile -->
      <a href="{% url 'profile' pseudo=obj.pseudo %}">
        <img src="{{obj.img_profile.url}}" class="my-friends-img-profile">
      </a>

      <div class="my-friends-box-title">
        <a href="{% url 'profile' pseudo=obj.pseudo %}">
          <strong>{{obj.user.first_name}} {{obj.user.last_name}}</strong>
          <p>{{obj.bio}}</p>
        </a>
        {% if obj.last_logout %}
        <P>
          {% if obj.last_logout > obj.user.last_login %}
          Connecté il y a {{obj.last_logout|timesince}}
          {% else %}
          Connecté maintenant
          {% endif %}
        </P>
        {% endif %}

      </div>
    </div>

    <form action="{% url 'remove_invitation' %}" method="POST" class="my-friends-add-friends">
      {% csrf_token %}
      <input type="hidden" name="profile_id" value="{{obj.id}}">
      <a href="{% url 'profile' pseudo=obj.pseudo %}">Voir le profile</a>
      <button class="btn-add-friends" type="submit">Supprimer</button>
    </form>
  </div>
  {% endif %}
  {% endfor %}
</div>