{% extends 'base.html' %}
{% load static %}


{% block title %} Invites {% endblock title %}


{% block style %}
<link rel="shortcut icon" href=" {% static 'components/img/linkedin-cust.svg' %} " type="image/x-icon">
<link rel="stylesheet" href=" {% static 'components/css/style.css' %}" />
{% endblock style %}

<!-- Navbar -->

{% comment %}

{% endcomment %}
{% block navbar %} {% include 'components/navbar2.html' %} {% endblock navbar %}


{% block content %}
<div style="margin-top: 100px">
  <h1>Hello from list Profiles.html</h1>
  <ul>

    {% for item in qs %}
    <li>{{item}}</li>
    {% endfor %}

  </ul>
  <br>
  <br>
  <a href="{% url 'invites' %}">invites</a>
  <br>
  <a href="{% url 'invites_list_profiles' %}">invites_list_profiles</a>
</div>
{% endblock content %}

<!-- Footer -->

{% comment %}

{% block footer %} {% include 'components/footer.html' %} {% endblock footer %}
{% endcomment %}


{% block js %}
<script type="text/javascript" src=" {% static 'components/js/index.js' %} "></script>
{% endblock js %}