{% load static %}

{% ifequal request.user comment.author %}
<div id="{{comment.id}}" class="comment-options-btn">
  <span id="btn-point"></span>
  <span id="btn-point"></span>
  <span id="btn-point"></span>
</div>

<div id="comment-options-container{{comment.id}}" class="comment-options-actions-container display-none">

  <ul>

    <a href="#" class="comment-options-item">
      <img src="{% static 'comments/img/edit.svg' %}" id="comment-options-item-img">
      <span class="btn-edit-comment comment-options-item-span" id="{{comment.id}}">Modifier</span>
    </a>
    <a href="#" class="comment-options-item">
      <img src="{% static 'comments/img/delete.svg' %}" id="comment-options-item-img">
      <span class="btn-del-comment comment-options-item-span" id="{{comment.id}}">Supprimer</span>
    </a>

  </ul>
</div>
{% endifequal %}