@import url("https://fonts.googleapis.com/css2?family=Baumans&family=Inconsolata:wght@300&family=Megrim&display=swap");
*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

*::selection {
  background-color: #1abc9c;
  color: #f1f1f1;
}

a {
  text-decoration: none;
  color: #f1f1f1;
}

a:visited {
  color: #f1f1f1;
}

.flex-center, .post-footer .box-action-icon .action-icon, .post-header .post-header-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.main-list_post {
  width: 100%;
  margin-top: 5.5rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.container-left {
  width: 20%;
  height: 100vh;
  box-shadow: 0 2px 3px 0 #0000001a;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #34495e;
}

.container-main {
  width: 50%;
  box-shadow: 0 2px 3px 0 #0000001a;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.container-main .new-add-post {
  width: 100%;
  box-shadow: 0 2px 3px 0 #0000001a;
  border-radius: 8px;
  background-color: #34495e;
  margin-bottom: 0.7rem;
  height: 8rem;
}
.container-main .container-all-post {
  width: 100%;
  padding: 0.5rem 0 0.5rem;
  box-shadow: 0 2px 3px 0 #0000001a;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  background-color: #34495e;
}

.container-right {
  width: 25%;
  height: 100vh;
  box-shadow: 0 2px 3px 0 #0000001a;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #34495e;
}

.post-header {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.post-header .post-header-img {
  height: 70px;
  width: 70px;
}
.post-header .post-header-img img {
  width: 100%;
  min-height: 60px;
  min-width: 60px;
  max-height: 60px;
  max-width: 60px;
  border-radius: 50%;
}
.post-header .post-header-info p {
  color: #979eaa;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-text-content {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  margin: 0.5rem 0 0.8rem;
}
.post-text-content p {
  line-height: 150%;
}

.post-img {
  width: 100%;
}
.post-img img {
  width: 100%;
}

.post-footer {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  margin: 0.5rem 0 0;
}
.post-footer .count-likes-comments {
  display: flex;
  justify-content: space-between;
}
.post-footer hr {
  height: 0.08px;
  background-color: #979eaa;
  border: none;
  margin: 0.6rem 0;
  outline: none;
}
.post-footer .box-action-icon {
  display: grid;
  grid-template-columns: 30% 40% 30%;
}
.post-footer .box-action-icon .action-icon {
  padding: 1rem 0;
  gap: 0.3rem;
}
.post-footer .box-action-icon .action-icon img {
  width: 30px;
}
.post-footer .box-action-icon .action-icon:hover {
  background-color: #0000001a;
  border-radius: 8px;
}

/*# sourceMappingURL=style.css.map */
