{% load static %}

<script>
    $(document).ready(function () {
        $('.like-form').submit(function (e) {

            // stoper le rechargement de la page lorsque on clique btn like
            e.preventDefault();

            // selectionner l'id du formulaire
            const post_id = $(this).attr('id');

            // selectionner le text de btn like (j'aime ou je n'aime pas)
            const likeText = $(`.like-text${post_id}`).text();

            // selectionner l'url de l'action du formulaire
            const url = $(this).attr('action');

            // declarer une variable res pour compter le nombre de like
            let res;

            // selectionner le text de nombre de like et convertir en string
            const likes_count = $(`#likes-num${post_id}`);
            const likes_num = parseInt(likes_count.text());

            // selectionner le text de nombre de like et convertir en string
            const likes_text_plural = $(`#text-plural${post_id}`);
            // console.log(img_like);
            // console.log($(`#text-plural${post_id}`).text());

            const fonc_text_plural = (n) => {
                if (n > 1) {
                    likes_text_plural.text('Likes')
                } else {
                    likes_text_plural.text('Like')
                }
            }

            // ajax avec method POST sans rechargement de la page
            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                    'post_id': post_id,
                },

                success: function (response) {
                    `condition
           si le text de btn like est 'Je n'aime pas':
            - change le text en 'J'aime'
            - change le icone like.svg en unlike.svg
            - affecter la variable res à likes_count + 1
            - mettre à jour le nombre de like avec la variable res
            sinon :
            - change le text en 'Je n'aime pas'
            - change le icone like.svg en like.svg
            - affecter la variable res à likes_count - 1
            - mettre à jour le nombre de like avec la variable res`

                    if (response.value === "Unlike") {
//                         $(`.like-text${post_id}`).text("J'aime");
                        $(`.like-text${post_id}`).css("color","#f1f1f1")
                        $(`#like-img${post_id}`).prop('src',
                            '{% static "post/img/unlike.svg" %}');
                        res = likes_num - 1
                        fonc_text_plural(res)
                    } else {
//                         $(`.like-text${post_id}`).text("Je n'aime pas");
                        $(`.like-text${post_id}`).css("color","#1abc9c")
                        $(`#like-img${post_id}`).prop('src',
                            '{% static "post/img/like.svg" %}');
                        res = likes_num + 1
                        fonc_text_plural(res)
                    }

                    likes_count.text(res);
                },
                error: function (response) {
                    // console.log('error', response);
                }
            })
        })
    })
</script>
