{% load static %}

<div class="post-header">
    <a href="{% url 'profile' pseudo=post.author.profile.pseudo  %}">
        <div class="post-header-img">
            <img src="        
                {% if post.author.profile.img_profile %}
                {{ post.author.profile.img_profile.url }}
                {% else %}
                {% static 'components/img/user.svg' %}
                {% endif %}" alt="" />
        </div>
    </a>
    <div class="post-header-info">
        <strong><a href="{% url 'profile' pseudo=post.author.profile.pseudo  %}">{{post.author.first_name}}
                {{post.author.last_name}}</a></strong>
        <p>{{post.author.profile.bio}}</p>
        <p>{{post.date_created|timesince}}</p>
    </div>
</div>