{% extends 'base.html' %}
{% load static %}


{% block title %} Home {% endblock title %}


{% block style %}
<link rel="shortcut icon" href=" {% static 'profiles/img/favicon.png' %} " type="image/x-icon">
<link rel="stylesheet" href=" {% static 'components/css/style.css' %}" />
<link rel="stylesheet" href=" {% static 'profiles/css/style.css' %} " />
{% endblock style %}

<!-- Navbar -->
{% block navbar %} {% include 'components/navbar2.html' %} {% endblock navbar %}

{% block content %}
<main class="main-profile">
  <div class="container-left">
    <section class="profile-info">
      <div class="container-info">
        <div class="info-img-bg">
          <img class="img_bg" src="{% if user.profile.img_bg %}
          {{ user.profile.img_bg.url }}
          {% else %}
          {% static 'profiles/img/bg.png' %}
          {% endif %}" alt="Couverture">
        </div>
        <img class="img_profile" src="{% if user.profile.img_profile %}
          {{ user.profile.img_profile.url }}
          {% else %}
          {% static 'components/img/user.svg' %}
          {% endif %}" alt="Profile">
        <div class="info-content">
          <img class="icon-edit-profile-infon-personnel" src="{% static 'profiles/img/edit.svg' %}">
          <h2>{{user.first_name}} {{user.last_name}}</h2>
          <p>{{user.profile.bio}}</p>
          <div class="box-location">
            <img src="{% static 'profiles/img/location.svg' %}">
            <p>{{user.profile.country|title}} <span id=" point-separator-style"></span> {{user.profile.region|title}}
              <span id=" point-separator-style"></span> {{user.profile.town|title}}
            </p>
          </div>
          <div class="box-tel">
            <img src="{% static 'profiles/img/phone.svg' %}">
            <p>{{user.profile.phone}} </p>
          </div>
        </div>
      </div>
    </section>

    <section class="profile-description">
      <img class="icon-edit-profile-infon-personnel" src="{% static 'profiles/img/edit.svg' %}">
      <h2>Infos</h2>
      <!-- <form action="">
        {{profile_form.as_p}}
      </form> -->
      <div class="container-description">
        <p>{% lorem 50 w %}</p>
        <br>
        <p>{% lorem 70 w %}</p>
        <br>
        <p>{% lorem 30 w %}</p>
      </div>
    </section>

    <!-- <section class="profile-experience">

      <h2>Section experience</h2>
    </section>

    <section class="profile-formation">
      <h2>Section formation</h2>
    </section> -->
  </div>
  <div class="container-right">
    <aside class="asd-adresse"> test</aside>
    <aside class="asd-rs"></aside>
  </div>
</main>
{% endblock content %}

<!-- Footer -->
{% block footer %} {% include 'components/footer.html' %} {% endblock footer %}

{% block js %}
<script type="text/javascript" src=" {% static 'components/js/index.js' %} "></script>
{% endblock js %}