{% extends 'base.html' %}
{% load static %}


{% block title %} {{profile.user.first_name}} {{profile.user.last_name}} {% endblock title %}


{% block style %}
<link rel="shortcut icon" href=" {% static 'components/img/linkedin-cust.svg' %} " type="image/x-icon">
<link rel="stylesheet" href=" {% static 'components/css/style.css' %}" />
<link rel="stylesheet" href=" {% static 'profiles/css/style.css' %} " />
{% endblock style %}

<!-- Navbar -->
{% block navbar %} {% include 'components/navbar2.html' %} {% endblock navbar %}

{% block content %}
<main class="main-profile">
  <div class="container-left">
    <section class="profile-info">
      <div class="container-info">
        <div class="info-img-bg">
          <img class="img_bg" src="{% if profile.img_bg %}
          {{ profile.img_bg.url }}
          {% else %}
          {% static 'profiles/img/bg.png' %}
          {% endif %}" alt="Couverture">
        </div>
        <img class="img_profile" src="{% if profile.img_profile %}
          {{ profile.img_profile.url }}
          {% else %}
          {% static 'components/img/user.svg' %}
          {% endif %}" alt="Profile">
        <div class="info-content">
          <h2>{{profile.user.first_name}} {{profile.user.last_name}} <span id="point-separator-style"></span>
            <small>@{{profile.pseudo}}</small>
          </h2>
          <p>{{profile.bio}}</p>

          {% if profile.country or profile.region or profile.town %}
          <div class="box-location">
            <img src="{% static 'profiles/img/location.svg' %}">

            {% if profile.country %}
            <p> {{profile.country|title}}
              <span id="point-separator-style"></span>
              {% endif %}

              {% if profile.region %}
              {{profile.region|title}}
              <span id=" point-separator-style"></span>
              {% endif %}
              {{profile.town|title}}
            </p>
          </div>
          {% endif %}

          {% if profile.user.email %}
          <div class="box-tel">
            <img src="{% static 'profiles/img/email.svg' %}">
            <p> {{profile.user.email}} </p>
          </div>
          {% endif %}

          {% if profile.phone %}
          <div class="box-tel">
            <img src="{% static 'profiles/img/phone.svg' %}">
            <p>{{profile.phone}}</p>
          </div>
          {% endif %}

        </div>
      </div>
    </section>

    <section class="profile-description">
      <h2>Infos</h2>
      <div class="container-description">
        <p>
          {{ profile.description|linebreaksbr }}
        </p>
      </div>
    </section>
  </div>

  <div class="container-right">
    <aside class="asd-info-stat">

      {% if profile.user == request.user %}
      <div class="btn-container-update-profile">
        <a href="{% url 'update_profile' %}">Modifier le profil</a>
      </div>
      {% endif %}

      <div class="statistic-profile">
        <div class="num-vue statistic">
          <span class="statistic-text">Vues de votre profil</span>
          <span class="statistic-num">
            {% if profile.number_views %}
            {{profile.number_views}}
            {% else %}
            0
            {% endif %}
          </span>
        </div>
        <div class="num-post statistic">
          <span class="statistic-text">Nombre de post</span>
          <span class="statistic-num">{{profile.user.post.count}}</span>
        </div>
      </div>
      <div class="others-link">

        {% if profile.link_linkedin %}
        <div class="link-pro">
          <img src="{% static 'components/img/linkedin.svg' %}" class="link-pro-icon">
          <a href="{{profile.link_linkedin}}" class="link-pro-link" target="_blank">linkedin</a>
        </div>
        {% endif %}

        {% if profile.link_twitter %}
        <div class="link-pro">
          <img src="{% static 'components/img/twitter.svg' %}" class="link-pro-icon">
          <a href="{{profile.link_twitter}}" class="link-pro-link" target="_blank">mysite</a>
        </div>
        {% endif %}

        {% if profile.link_gitthub %}
        <div class="link-pro">
          <img src="{% static 'components/img/github.svg' %}" class="link-pro-icon">
          <a href="{{profile.link_gitthub}}" class="link-pro-link" target="_blank">github</a>
        </div>
        {% endif %}

        {% if profile.link_mysite %}
        <div class="link-pro">
          <img src="{% static 'profiles/img/web.svg' %}" class="link-pro-icon">
          <a href="{{profile.link_mysite}}" class="link-pro-link" target="_blank">mysite</a>
        </div>
        {% endif %}

      </div>
    </aside>
    <aside class="asd-rs"></aside>
  </div>
</main>
{% endblock content %}

<!-- Footer -->
{% block footer %} {% include 'components/footer.html' %} {% endblock footer %}

{% block js %}
<script type="text/javascript" src=" {% static 'components/js/index.js' %} "></script>
{% endblock js %}